@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f87171;
  --secondary-color: #f1f1f1;
  --hover-color: #3b1e1e;
  --background: #0f0f0f;
  --loading: #334155;
  --text-secondary: #94a3b8;
  --header-height: 4rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}
