@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 4rem;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}
