@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #f87171;
  --secondary-color: #f1f1f1;
  --hover-color: #3b1e1e;
  --background: #0f0f0f;
  --loading: #334155;
  --text-secondary: #94a3b8;
  --header-height: 4rem;
}

@layer components {
  .default-video-size {
    @apply sm:h-[12rem] sm:w-[21rem] md:h-[12rem] md:w-[21rem] lg:h-[11rem] lg:w-[20rem] h-[12rem] w-[21rem];
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #000;
}
